@import "reset.css";
@import "variables.css";

/*components*/
@import "status-bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "user-component.css";
@import "badge.css";
/*screens*/
@import "login.css";
@import "friends.css";
@import "find.css";
@import "icon-row.css";
@import "more.css";

body {
  color: #2e363e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 1000vh;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
